<ion-view view-title="{{'about_title' | translate}}" title="<i class='ion-ios-information'></i> {{'about_title' | translate}}">

  <ion-content class="notifications-view-container" ng-init="" data-tap-disabled="true" scroll="true" overflow-scroll="true">

      <div class="notification-type-container">
        <div class="item-text-wrap">
          <div class="destination-subtitle">{{'about_transportme' | translate}}</div>
          <div class="item-text-wrap">
            <div class="notification-times">{{'about_transportme_long_text' | translate}}</div>
          </div>
          <br/>
          <div class="destination-subtitle">{{'about' | translate}}</div>
          <div class="item-text-wrap">
            <div class="notification-times">{{'about_long_text_1' | translate}}</div>
          </div>
          <br/>
          <div class="item-text-wrap">
            <div class="notification-times">{{'about_long_text_2' | translate}}</div>
          </div>
          <br/>
          <div class="item-text-wrap">
            <div class="notification-times">{{'about_long_text_3' | translate}}</div>
          </div>
          <br/>
          <div class="destination-subtitle">{{'about_tmb' | translate}}</div>
          <div class="item-text-wrap">
            <div class="notification-times">{{'about_tmb_long_text' | translate}}</div>
          </div>
          <br/>
          <div class="destination-subtitle">{{'thanks_title' | translate}}</div>
          <div class="item-text-wrap">
            <div class="notification-times">{{'thanks_long_text' | translate}}</div>
          </div>
          <br/>
          <div class="item-text-wrap">
            <div class="notification-times">{{'thanks_long_text2' | translate}}</div>
          </div>
          <br/>
          <div class="destination-subtitle">{{'about_property' | translate}}</div>
          <div class="item-text-wrap">
            <div class="notification-times">{{'about_property_long_text' | translate}}</div>
          </div>
          <br/>
          <br/>
          <div class="destination-subtitle"><a onclick="navigator.app.loadUrl('http://basetis.com', { openExternal:true } ); return false;" href="#"><img src="img/logo_basetis_vector.png"/></a></div>
        </div>
      </div>






  </ion-content>
</ion-view>