<ion-view view-title="{{'promo_title' | translate}}" title="<i class='ion-ios-information'></i> {{'promo_title' | translate}}">

  <ion-content class="notifications-view-container" ng-init="" data-tap-disabled="true" scroll="true" overflow-scroll="true">

      <div class="promoContainer">

                          <div class="item-text-wrap">
            <div class="notification-times">{{'contact_promo_long_text' | translate}}</div>
          </div>
          <br>
        <div class="promo-contact-button" ng-click="contactPromo()">
          <span class="close-route-icon">
            <i class="ion-compose"></i>
          </span>
          <span class="close-route-name highlight-text" id="">{{'contact_promo_message' | translate}}</span>
        </div>

        <img class="promo-image" src="{{'contact_promo_img' | translate}}">


      </div>






  </ion-content>
</ion-view>